.filter-container {
  background: var(--bg-color-section);
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.filter-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media screen and (min-width: 700px) {
  .filter-container {
    margin-right: 2rem;
    max-width: 200px;
    height: max-content;
    padding-bottom: 5rem;
    min-width: 200px;
  }
}